<div class="flex flex-row justify-between space-x-4">
    <div class="2xl:w-1/2 w-full flex flex-col justify-center space-y-10 items-center bg-white border rounded-xl">
        <div class="flex flex-col items-center space-y-1">
            <h2 class="text-2xl text-gray-800 font-semibold">ANALYTICS</h2>
            <p class="text-sm text-body-color font-medium">Total Restocking vs. Total sales</p>
        </div>
        <div id="chartOne" class="-ml-5"></div>
    </div>

    <div class="w-full px-8 2xl:w-1/2 bg-white border rounded-xl">
        <div class="-mx-4 flex items-center flex-wrap">
            <div class="w-full pt-8 px-4 md:w-1/2 lg:w-1/3 2xl:w-full">
                <div
                    class="relative mb-8 flex items-center rounded-[10px] bg-white px-6 py-10 shadow-1 dark:bg-dark-2 dark:shadow-box-dark sm:px-10 md:px-6 xl:px-10">
                    <div
                        class="mr-4 flex h-[50px] w-full max-w-[50px] items-center justify-center rounded-full bg-primary text-white sm:mr-6 sm:h-[60px] sm:max-w-[60px] md:mr-4 md:h-[50px] md:max-w-[50px] xl:mr-6 xl:h-[60px] xl:max-w-[60px]">
                        <%= image_tag 'icons/dollar.svg' %>
                    </div>
                    <div>
                        <p
                            class="text-2xl font-bold text-dark dark:text-white xl:text-[28px] xl:leading-[35px]">
                            $4,350
                        </p>
                        <p class="mt-1 text-base text-body-color dark:text-dark-6">
                            Total sale
                        </p>
                    </div>

                    <div class="absolute right-5 top-5">
                        <div x-data="{openDropDown: false}" class="relative">
                            <button @click="openDropDown = !openDropDown"
                                class="text-body-color dark:text-dark-6">
                               <%= image_tag 'icons/three_dot.svg' %>
                            </button>

                            <div x-show="openDropDown" @click.outside="openDropDown = false"
                                class="absolute right-0 top-full z-40 w-[150px] space-y-1 rounded bg-white p-2 shadow-card dark:bg-dark">
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Edit
                                </button>
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full px-4 md:w-1/2 lg:w-1/3 2xl:w-full">
                <div
                    class="relative mb-8 flex items-center rounded-[10px] bg-white px-6 py-10 shadow-1 dark:bg-dark-2 dark:shadow-box-dark sm:px-10 md:px-6 xl:px-10">
                    <div
                        class="mr-4 flex h-[50px] w-full max-w-[50px] items-center justify-center rounded-full bg-primary text-white sm:mr-6 sm:h-[60px] sm:max-w-[60px] md:mr-4 md:h-[50px] md:max-w-[50px] xl:mr-6 xl:h-[60px] xl:max-w-[60px]">
                        <%= image_tag 'icons/customer.svg'  %>
                    </div>
                    <div>
                        <p
                            class="text-2xl font-bold text-dark dark:text-white xl:text-[28px] xl:leading-[35px]">
                            583
                        </p>
                        <p class="mt-1 text-base text-body-color dark:text-dark-6">
                            Total Items Sold to Customer
                        </p>
                    </div>

                    <div class="absolute right-5 top-5">
                        <div x-data="{openDropDown: false}" class="relative">
                            <button @click="openDropDown = !openDropDown"
                                class="text-body-color dark:text-dark-6">
                                <%= image_tag 'icons/three_dot.svg' %>
                            </button>

                            <div x-show="openDropDown" @click.outside="openDropDown = false"
                                class="absolute right-0 top-full z-40 w-[150px] space-y-1 rounded bg-white p-2 shadow-card dark:bg-dark">
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Edit
                                </button>
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full px-4 md:w-1/2 lg:w-1/3 2xl:w-full">
                <div
                    class="relative mb-8 flex items-center rounded-[10px] bg-white px-6 py-10 shadow-1 dark:bg-dark-2 dark:shadow-box-dark sm:px-10 md:px-6 xl:px-10">
                    <div
                        class="mr-4 flex h-[50px] w-full max-w-[50px] items-center justify-center rounded-full bg-primary text-white sm:mr-6 sm:h-[60px] sm:max-w-[60px] md:mr-4 md:h-[50px] md:max-w-[50px] xl:mr-6 xl:h-[60px] xl:max-w-[60px]">
                        <%= image_tag 'icons/cart.svg' %>
                    </div>
                    <div>
                        <p
                            class="text-2xl font-bold text-dark dark:text-white xl:text-[28px] xl:leading-[35px]">
                            1289
                        </p>
                        <p class="mt-1 text-base text-body-color dark:text-dark-6">
                            Items In Inventory
                        </p>
                    </div>

                    <div class="absolute right-5 top-5">
                        <div x-data="{openDropDown: false}" class="relative">
                            <button @click="openDropDown = !openDropDown"
                                class="text-body-color dark:text-dark-6">
                                <%= image_tag 'icons/three_dot.svg' %>  
                            </button>

                            <div x-show="openDropDown" @click.outside="openDropDown = false"
                                class="absolute right-0 top-full z-40 w-[150px] space-y-1 rounded bg-white p-2 shadow-card dark:bg-dark">
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Edit
                                </button>
                                <button
                                    class="w-full rounded px-3 py-1.5 text-left text-sm text-body-color hover:bg-gray-2 dark:text-dark-6 dark:hover:bg-dark-2">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>