<%= render 'shared/main_page_navbar' %>

<div class="w-[80vw] h-[50vh] flex flex-row space-x-4 m-auto bg-slate-800 rounded-xl mt-8">
  <div class="w-1/2 h-full flex items-center justify-center">
    <%= image_tag 'in_mang_3.png', class:'w-80' %>
  </div>

  <div class="w-1/3 h-full flex flex-col justify-center space-y-2">
    <p class="text-white text-2xl font-medium ">
      Effortless Inventory Management for a Seamless Business Flow
    </p>

    <p class="text-white text-normal text-sm pb-3">Streamline your business operations with our cutting-edge inventory management solution. Our platform ensures real-time tracking, efficient stock control, and automated processes, saving you time and reducing errors. Experience the ease of managing your inventory effortlessly and watch your sales soar as you focus on what matters most—growing your business.</p>

    <a href="/contact-us"><button class="w-full h-11 bg-blue-500 text-white text-sm font normal leading-tight rounded-md hover:bg-slate-700 transition transform-transition">
      Contact Now to get it!
    </button></a>
  </div>
</div>

<div class="h-24"></div>

<div class="h-[70vh] w-[80vw] flex flex-col items-center m-auto space-y-8">
  <div class="h-[25vh] w-full flex flex-row justify-between items-center">
    <div class="w-1/3 h-full flex justify-center items-center ">
      <%= image_tag 'in_mang_1.png', class:"w-96 "%>
    </div>

    <div class="h-full w-1 py-5 bg-gray-500"></div>

    <div class="w-1/2">
      <p class="font-medium text-xl mb-4 text-slate-800">Streamlined Inventory Solutions for Maximum Profitability</p>

      <p class="text-slate-800 font-normal">Boost sales and streamline operations with our cutting-edge inventory management system. Enjoy real-time tracking, automated stock control, and insightful analytics. Minimize errors, reduce costs, and optimize stock levels to ensure you never miss a sales opportunity. Elevate your business efficiency and watch your profits soar.</p>
    </div>
  </div>

  <div class="h-14"></div>

 <div class="h-[25vh] w-full flex flex-row justify-between items-center">
    <div class="w-1/3 h-full flex justify-center items-center ">
      <%= image_tag 'in_mang_2.png', class:"w-96 "%>
    </div>

    <div class="h-full w-1 py-5 bg-gray-500"></div>

    <div class="w-1/2">
      <p class="font-medium text-xl mb-4 text-slate-800">Optimize Your Inventory for Unmatched Efficiency</p>

      <p class="text-slate-800 font-normal">Boost sales and streamline operations with our cutting-edge inventory management system. Enjoy real-time tracking, automated stock control, and insightful analytics. Minimize errors, reduce costs, and optimize stock levels to ensure you never miss a sales opportunity. Imagine stacks of neatly organized boxes in your warehouse, effortlessly managed and always in order, thanks to our high-tech solutions.</p>
    </div>
 </div>
</div>

<%= render 'blog_part' %>

<%= render 'shared/main_page_footer' %>